<!doctype html>

<html>
	<head>
		<title>Gemelody Stones</title>
		<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<link rel="icon" href="http://www.gemelody.com/favicon.ico" type="image/x-icon">
	</head>
	<body>
	<nav class = "navbar navbar-default">
	<div class = "container-fluid">
		<div class = "navbar-header">
			<a class = "navbar-brand" href = "http://www.gemelody.com">Gemelody</a>
		</div>
		<!-- <div class = "collapse navbar-collapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><a href = "/">Login</a></li>
				<li><a href = "/">Sign Up</a></li>
				<li><a href = "/">Logout</a></li>
			</ul>
		</div> -->
	</div>
	</nav>
	
<div id="landing-header">	
<h1>This is the Stones Landing Page. Enter /stones/**stonenum** to view a stone</h1>
</div>

<% include partials/footer %>