<% include partials/header %>

<div class = "container">
	<div class = "row">
		<div class = "col-md-12" align="center">
			<h1 class="display-2">Diamond # <%=words.lotName%></h1>	
		</div>
		<div class = "col-md-6">
			<h1 class="display-2">Image</h1>
			<img class = "img-responsive" src = "https://gemelody.blob.core.windows.net/img/<%=words.lotName%>.jpg" onerror="this.style.display='none'">
		</div>
		<div class = "col-md-6">
			<h1 class="display-2">Video</h1>
			<video width="100%" height="100%" class = "video-fluid" src="https://gemelody.blob.core.windows.net/img/<%=words.lotName%>.mp4" type="video/mp4" autoplay loop controls muted onerror="this.style.display='none'">
			</video>
		</div>	
		<div class = "col-md-12" align="center" id ="cert">
			<h1 class="display-2" >Certificate</h1>
			<div class="embed-responsive" style="padding-bottom: 100%;">
				<iframe src = "https://docs.google.com/viewer?url=https://gemelody.blob.core.windows.net/certslotname/<%=words.lotName%>.PDF&embedded=true" onerror="cert.display='none'">
				</iframe>
			</div>
		</div>
	</div>
</div>





<% include partials/footer %>