<% include partials/header %>

<div class = "container">
	<div class = "row">
		<div class = "col-md-12" align="center">
			<h1 class="display-2">Stone # <%=stone%></h1>	
		</div>
		<div class = "col-md-6">
			<img class = "img-responsive" src = "http://gemelody.com/data/images/<%=stone%>.JPG">	
		</div>
		<div class = "col-md-6">
			<video width="100%" height="100%" class = "video-fluid" src="http://gemelody.com/data/videos/<%=stone%>.mp4" type="video/mp4" autoplay loop controls muted>
			</video>
		</div>	
		<div class = "col-md-12" align="center">
			<div class='embed-responsive' style='padding-bottom:100%'>
					<object data='http://gemelody.com/data/certs/<%=stone%>.pdf' type='application/pdf' width='100%' height='100%'>
					</object>
			</div>
		</div>
	</div>
</div>



<% include partials/footer %>